<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {
            font-size: 40px;
            }
            
            p {
            font-size: 30px;
            }

            input {
            font-size: 30px;
            }

            button {
            font-size: 30px;
            }
        </style>
    </head>
    <body>

        <h1>SAR Report</h1>

        <p><a href="/">Home</a></p>

        <form id="chat_form" action="/chat" method="post" >
            {% if name %}
            <p>Name: <input type="text" name="name" value="{{ name }}" required></p>
            {% else %}
            <p>Name: <input type="text" name="name" required></p>
            {% endif %}
            <p>Message: <input type="text" name="msg"></p>
            <button type="button" onclick="fill_positions();">Locate</button></p>
            <p>Latitude: <input id="lat" type="text" name="lat" required></p>
            <p>Longitude: <input id="lon" type="text" name="lon" required></p>
            <input type="submit" />
        </form>

{% if recv %}
<p>Received: {{ recv }} </p>
{% endif %}

<script>
    var lat_entry = document.getElementById("lat")
    var lon_entry = document.getElementById("lon")
        
    function enterPosition(position) {
        lat_entry.value = position.coords.latitude;
        lon_entry.value = position.coords.longitude;
    }

    function fill_positions() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(enterPosition);
        }
    }

</script>

</body>
</html>
